<div id="container-exp">
	<div id="trial">
		<h1>Sample Demographics Page</h1>
		<br>
		<p>
			Please answer the following questions about yourself:
		</p>
		<p>
			Age:
		</p>
		<input type="text" name="age" id="age">
		<br>

		<p>
			Gender:
		</p>
		<input type="radio" name="Q1" value="male"> Male<br>
  		<input type="radio" name="Q1" value="female"> Female<br>
  		<input type="radio" name="Q1" value="other"> Other<br>
  		<input type="radio" name="Q1" value="noanswer"> Prefer not to answer<br>
	    <br>

	    <p>
			Ethnicity:
		</p>
		<input type="radio" name="Q2" value="White/Caucasian"> White/Caucasian<br>
  		<input type="radio" name="Q2" value="Black/African-American"> Black/African-American<br>
  		<input type="radio" name="Q2" value="Hispanic"> Hispanic<br>
  		<input type="radio" name="Q2" value="Asian/Asian-American"> Asian/Asian-American<br>
  		<input type="radio" name="Q2" value="Other"> Other<br>
	    <br>
	    <br>

	    <p>
	        <input name="button" value="Next" id="button" type="submit">
	    </p>
	</div>
</div>
