<div id="container-exp">
	<div id="trial">
		<h1>Sample Questions with scroll</h1>
		<br>
		<p>The following statements inquire about your thoughts and feelings in a variety of situations. For each item, indicate how well it describes you by choosing the appropriate number on the scale at the top of the page: 0, 1, 2, 3, or 4. Read each item carefully before responding. Answer as honestly as you can. Thank you.</p>
		<div class="note"><p>Please scroll down fully to see all of the questions.</p></div>
	    <br>
	    
        <table>
        	<thead>
				<tr>
					<th>&nbsp;</th>
					<th>does not describe me well</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>describes me very well</th>
				</tr>
			</thead>
		</table>

		<div class="scroll-small">
		<table>
            <tbody>
            	<tr>
	                <td>
	                    1. I daydream and fantasize, with some regularity, about things that might happen to me.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q1" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q1" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q1" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q1" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q1" type="radio" value="4">
		                </td>
	            	</div>
            	</tr>
            	<tr>
	                <td>
	                    2. I often have tender, concerned feelings for people less fortunate than me.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q2" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q2" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q2" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q2" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q2" type="radio" value="4">
		                </td>
	            	</div>
            	</tr>
            	<tr>
	                <td>
	                    3. I sometimes find it difficult to see things from the “other guy’s” point of view
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q3" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q3" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q3" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q3" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q3" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    4. Sometimes I don’t feel very sorry for other people when they are having problems.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q4" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q4" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q4" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q4" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q4" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    5. I really get involved with the feelings of the characters in a novel.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q5" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q5" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q5" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q5" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q5" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    6. In emergency situations, I feel apprehensive and ill-at-ease.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q6" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q6" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q6" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q6" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q6" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    7. I am usually objective when I watch a movie or play, and I don’t often get completely caught up in it.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q7" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q7" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q7" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q7" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q7" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    8. I try to look at everybody’s side of a disagreement before I make a decision.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q8" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q8" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q8" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q8" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q8" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    9. When I see someone being taken advantage of, I feel kind of protective towards them.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q9" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q9" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q9" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q9" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q9" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    10. I sometimes feel helpless when I am in the middle of a very emotional situation.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q10" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q10" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q10" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q10" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q10" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    11. I sometimes try to understand my friends better by imagining how things look from their perspective.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q11" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q11" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q11" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q11" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q11" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    12. Becoming extremely involved in a good book or movie is somewhat rare for me.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q12" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q12" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q12" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q12" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q12" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    13. When I see someone get hurt, I tend to remain calm.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q13" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q13" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q13" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q13" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q13" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            		<td>
	                    14. Other people’s misfortunes do not usually disturb me a great deal.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q14" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q14" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q14" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q14" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q14" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    15. If I’m sure I’m right about something, I don’t waste much time listening to other people’s arguments.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q15" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q15" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q15" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q15" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q15" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    16. After seeing a play or movie, I have felt as though I were one of the characters.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q16" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q16" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q16" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q16" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q16" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    17. Being in a tense emotional situation scares me.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q17" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q17" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q17" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q17" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q17" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    18. When I see someone being treated unfairly, I sometimes don’t feel very much pity for them.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q18" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q18" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q18" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q18" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q18" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    19. I am usually pretty effective in dealing with emergencies.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q19" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q19" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q19" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q19" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q19" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    20. I am often quite touched by things that I see happen.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q20" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q20" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q20" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q20" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q20" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    21. I believe that there are two sides to every question and try to look at them both.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q21" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q21" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q21" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q21" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q21" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    22. I would describe myself as a pretty soft-hearted person.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q22" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q22" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q22" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q22" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q22" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    23. When I watch a good movie, I can very easily put myself in the place of a leading character.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q23" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q23" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q23" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q23" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q23" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    24. I tend to lose control during emergencies.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q24" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q24" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q24" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q24" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q24" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    25. When I’m upset at someone, I usually try to “put myself in his shoes” for a while.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q25" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q25" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q25" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q25" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q25" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    26. When I am reading an interesting story or novel, I imagine how I would feel if the events in the story were happening to me.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q26" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q26" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q26" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q26" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q26" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    27. When I see someone who badly needs help in an emergency, I go to pieces.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q27" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q27" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q27" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q27" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q27" type="radio" value="4">
		                </td>
		            </div>
            	</tr>
            	<tr>
	                <td>
	                    28. Before criticizing somebody, I try to imagine how I would feel if I were in their place.
	                </td>
	                <div class="radioGroup">
		                <td>
		                    <input name="Q28" type="radio" value="0">
		                </td>
		                <td>
		                    <input name="Q28" type="radio" value="1">
		                </td>
		                <td>
		                    <input name="Q28" type="radio" value="2">
		                </td>
		                <td>
		                    <input name="Q28" type="radio" value="3">
		                </td>
		                <td>
		                    <input name="Q28" type="radio" value="4">
		                </td>
		            </div>
            	</tr>

        	</tbody>
        </table>
    	</div>

    	<br>

	    <p>
	        <input name="button" value="Next" id="button" type="submit">
	    </p>

	</div>
</div>