<div id="container-exp">
	<div id="trial">
		<h1>Sample Video Instructions page</h1>
		<br>
		<p>
		You will be shown a short video, and then be asked to answer serveral questions about the characters in the video. Please <strong>press the play button</strong> to play the video. Please be aware that the video will <strong>only play once</strong> and you will <strong>not be able to pause or fast forward</strong> the video. Click next after the video has finished playing to view the questions.
	    </p>
	    <br>

	    <p>
	        <input name="button" value="Next" id="button" type="submit">
	    </p>

	</div>
</div>
