<div id="container-exp">
	<div id="trial">
		<h1>Sample Video page</h1>
		<br>
	    <p>
	    	Click on the video to begin. The button to proceed will appear under the video once the video has finished playing. Please be patient. Videos may take some time to load depending on your connection.
	    </p>
	    <p>
	    	<strong>Note:</strong> Once the video is started, it does not stop and can not be played again.
	    </p>
	    <br>

		<div id="wrapper">
		    <video id="video">
		    	<source src="/static/videos/video.mp4" type="video/mp4"/>
		    </video>
		    <div id="playButton"></div>
		</div>
		<br>

		<div id="hidden-button">
		    <p>
		        <input name="button" value="Next" id="button" type="submit">
		    </p>
		</div>

	</div>
</div>
